<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>{{ name }} </title>
    {% load static %}
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="{% static '/index.css' %}">
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!--
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <!--
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  -->
  <!---<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css" >


  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <!--
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %} " ></script>
    <script src="{% static 'salvattore.js' %}"></script>
</head>
<body >
<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">海骄社区</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right nav-tabs "  role="tablist">
        <li><a href="#zuixinfangyuan">最新房源</a></li>
        <li><a href="#woyaozufang">我要租房</a></li>
        <li><a href="#fangdongjiameng">房东加盟</a></li>
        <li><a href="#gerenzhongxin">个人中心</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--照片墙-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active index_img">
       <img class="img-responsive center-block " src="{% static '/理工运动场.jpg' %}" alt="理工运动场.jpg">
      <div class="carousel-caption">
        理工运动场
      </div>
    </div>
    <div class="item index_img">
      <img class="img-responsive center-block " src="{% static '/理工砚湖.jpg' %}" alt="理工砚湖.jpg">
      <div class="carousel-caption">
        理工砚湖
      </div>
    </div>
    <div class="item index_img">
      <img class="img-responsive center-block " src="{% static '/理工草坪.jpg' %}" alt="理工草坪.jpg">
      <div class="carousel-caption">
        理工草坪
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--照片墙结束--->


<!--查找最新房源-->
<div>
  <div class="page-header">
  <h2 class="text-center">查找房源</h2>
    <div class="container-fluid">
      <form class="form-inline row">
  <div class="form-group col-xs-9">
    <input type="jiequ" class="form-control" style="width: 100%" id="index_location" placeholder="请输入小区 商圈 街区">
  </div>
  <div class="form-group col-xs-2 " style="min-width: 76px">
  <button type="submit"  style="width: 100%" class="btn text-right btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
</form>
</div>
    <!--热门街区开始-->
    <div class="container-fluid">
      <span class="badge  ">理工大学</span>
      <span class="badge  ">四川大学</span>
      <span class="badge  ">西华大学</span>
      <span class="badge  ">电子科大</span>
      <span class="badge  ">成都信工</span>
      <span class="badge  ">成都大学</span>
      <span class="badge  ">四川师范</span>
    </div>
 <!--热门街区结束-->
    </div>
</div>
<!---查找房源结束-->

<!--最新房源展示-->
<div class="container-fluid">
  <div class="page-header">
  <h2 class="text-center">最新房源</h2>
<div class="row">
  <div class="col-md-3">
    <div class=" house_info thumbnail">
      <div class="img_border"><img class="img-responsive" src="{% static '/房间1.jpg' %}" alt="房间1"></div>
      <div class="caption">
        <h4>成都理工</h4>
        <p>来自于十里彩云间，理工学子大家都懂的</p>
        <p>租金： ￥1250</p>
        <p>类型： 套三主卧</p>
        <p>面积： 8㎡</p>
        <p><a href="#" class="btn btn-primary" role="button">详情</a> <a href="#" class="btn btn-default" role="button">我要租房</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="house_info thumbnail">
      <div class="img_border"><img class="img-responsive" src="{% static '/房间2.jpg' %}" alt="房间2"></div>
      <div class="caption">
        <h4>四川大学</h4>
        <p>四川大学门口的酒吧一条街</p>
        <p>租金： ￥1250</p>
        <p>类型： 套三主卧</p>
        <p>面积： 8㎡</p>
        <p><a href="#" class="btn btn-primary" role="button">详情</a> <a href="#" class="btn btn-default" role="button">我要租房</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="house_info thumbnail">
      <div class="img_border"><img class="img-responsive" src="{% static '/房间3.jpg' %}" alt="房间3"></div>
      <div class="caption">
        <h4>西华大学</h4>
        <p>省体育馆附近的西华大学</p>
        <p>租金： ￥1250</p>
        <p>类型： 套三主卧</p>
        <p>面积： 8㎡</p>
        <p><a href="#" class="btn btn-primary" role="button">详情</a> <a href="#" class="btn btn-default" role="button">我要租房</a></p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="thumbnail">
      <div class="img_border"><img class="img-responsive"  src="{% static '/房间4.jpg' %}" alt="房间4"></div>
      <div class="caption">
        <h4>电子科大</h4>
        <p>建设路的电子科大</p>
        <p>租金： ￥1250</p>
        <p>类型： 套三主卧</p>
        <p>面积： 8㎡</p>
        <p><a href="#" class="btn btn-primary" role="button">详情</a> <a href="#" class="btn btn-default" role="button">我要租房</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="img_border"><img class="img-responsive" src="{% static '/房间5.jpg' %}" alt="房间5"></div>
      <div class="caption">
        <h4>成都理工</h4>
        <p>来自于十里彩云间，理工学子大家都懂的</p>
        <p>租金： ￥1250</p>
        <p>类型： 套三主卧</p>
        <p>面积： 8㎡</p>
        <p><a href="#" class="btn btn-primary" role="button">详情</a> <a href="#" class="btn btn-default" role="button">我要租房</a></p>
      </div>
    </div>
  </div>
</div>
      </div>
</div>
<!---最新房源展示-->

<!--最新房源展示-->
<div class="container-fluid">
  <div class="page-header">
  <h2 class="text-center">四大支持</h2>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 col-xs-12">
                  <div class="row">
                      <div class="col-xs-6 ">
                          <div class="four_support_border ">
                           <img class="img-responsive center-block " src="{% static '/房间1.jpg' %}" alt="房间1">
                          </div>
                      </div>
                      <div class="col-xs-6 ">
                         <div class="four_support_border">
                           <img class="img-responsive center-block " src="{% static '/房间2.jpg' %}" alt="房间2">
                          </div>
                      </div>
                  </div>
                  </div>
              <div class="col-md-6 col-xs-12 four_support_info">The regime, said President Trump, is a threat to the civilized world and international peace and stability. We will not stand for that, said President Trump. The era of strategic patience is over.
特朗普总统表示，朝鲜政权是对文明世界的威胁，是对国际和平和稳定的威胁。特朗普总统表示，我们不会容忍这一点。战略容忍的时代已经过去了。              </div>
           <div class="col-md-6 col-xs-12">
               <div class="row">
                      <div class="col-xs-6 ">
                          <div class="four_support_border">
                           <img class="img-responsive center-block " src="{% static '/房间1.jpg' %}" alt="房间1">
                          </div>
                      </div>
                      <div class="col-xs-6 ">
                         <div class="four_support_border">
                           <img class="img-responsive center-block " src="{% static '/房间2.jpg' %}" alt="房间2">
                          </div>
                      </div>
                  </div>
                  </div>
              <div class="col-md-6 col-xs-12 four_support_info">The regime, said President Trump, is a threat to the civilized world and international peace and stability. We will not stand for that, said President Trump. The era of strategic patience is over.
特朗普总统表示，朝鲜政权是对文明世界的威胁，是对国际和平和稳定的威胁。特朗普总统表示，我们不会容忍这一点。战略容忍的时代已经过去了。              </div>
          </div>
      </div>
  </div>
</div>


</body>

</html>