<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>{{ name }} </title>
    {% load static %}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static '/index.css' %}">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!--
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <!--
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    -->
    <!---<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css" >


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=4POwYrBfonLcG2gFxfc1URc4EIyHQ84W"></script>
    <style type="text/css">
        #allmap
        {
            min-width: 200px;
            min-height: 200px;
        }
</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">海骄社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right nav-tabs " role="tablist">
                <li><a href="#zuixinfangyuan">最新房源</a></li>
                <li class="active"><a href="#woyaozufang">我要租房</a></li>
                <li><a href="#fangdongjiameng">房东加盟</a></li>
                <li><a href="#gerenzhongxin">个人中心</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!--查找最新房源-->
<div>
    <div class="page-header">
        <h2 class="text-center">查找房源</h2>
        <div class="container-fluid">
            <form class="form-inline row">
                <div class="form-group col-xs-9">
                    <input type="jiequ" class="form-control" style="width: 100%" id="index_location"
                           placeholder="请输入小区 商圈 街区">
                </div>
                <div class="form-group col-xs-3" style="min-width: 76px">
                    <button type="submit" style="width: 100%" class="btn text-right btn-default" role="button"
                            data-toggle="collapse" href="#search_result" aria-expanded="false"
                            aria-controls="search_result"><span class="glyphicon glyphicon-search"
                                                                aria-hidden="true"></span></button>
                </div>
            </form>
        </div>
        <!--热门街区开始-->
        <div class="container-fluid">
            <span class="badge  ">理工大学</span>
            <span class="badge  ">四川大学</span>
            <span class="badge  ">西华大学</span>
            <span class="badge  ">电子科大</span>
            <span class="badge  ">成都信工</span>
            <span class="badge  ">成都大学</span>
            <span class="badge  ">四川师范</span>
        </div>
        <!--热门街区结束-->
    </div>
    <div class="container-fluid">
        <div class="collapse " id="search_result">
            <div class="well center-block" id="allmap" style="max-width: 90%">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var map = new BMap.Map("allmap");
    // 创建地图实例
    var point = new BMap.Point(116.404, 39.915);
    // 创建点坐标
    map.centerAndZoom(point, 15);
</script>

</body>
</html>