<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>{{ name }} </title>
    {% load static %}
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!--
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  -->

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <!--
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  -->
  <!---<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css" >


  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <!--
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  -->

    <link rel="stylesheet" href="../static/Gallery/stylesheets/chromagallery.min.css">
    <script src="../static/Gallery/scripts/modernizr-chrg.min.js"></script>
<script src="../static/Gallery/scripts/imagesloaded.min.js"></script>
<script src="../static/Gallery/scripts/masonry.min.js"></script>
<script src="../static/Gallery/scripts/chromagallery.min.js"></script>
另外还需要引入chromagallery.min.css文件，CSS文件中使用了字体文件，字体文件夹需要放置在合适的路径下。

</head>
<body>
<div class="chroma-gallery mygallery">
    <img src="{% static '/四大支持1.jpg' %}" alt="Pic 1" data-largesrc="{% static '/四大支持1.jpg' %}">
    <img src="{% static '/四大支持3.jpg' %}" alt="Pic 2" data-largesrc="{% static '/四大支持2.jpg' %}">
    <img src="{% static '/四大支持2.jpg' %}" alt="Pic 1" data-largesrc="{% static '/四大支持3.jpg' %}">
    <img src="{% static '/四大支持4.jpg' %}" alt="Pic 2" data-largesrc="{% static '/四大支持4.jpg' %}">
</div>
    <link rel="stylesheet" href="{% static 'Gallery/stylesheets/chromagallery.min.css' %}">
    <script src="{% static 'Gallery/scripts/chromagallery.pkgd.min.js' %}"> </script>
<script type="text/javascript">
    $(".mygallery").chromaGallery
    ({

        gridMargin:15,
        maxColumns:4,
        dof:true,
        screenOpacity:0.8
    });
</script>
</body>
</html>