
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img
{
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.element {
  .center-block();
}

.index_img
{
    height: 400px;
}


.house_info
{
    width: 100%;
    height: 480px;
}
.img_border
{
    height: 250px;
}