

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2
{
 padding-bottom: 20px;
}

img
{  display: block;
  margin-left: auto;
  margin-right: auto;
}


.element {
  .center-block();
}

.index_img
{
    height: 250px;
}


.house_info
{
    width: 100%;
    height: 480px;
}
.img_border
{
    height: 250px;
}
.img_border>img
{
    max-height: 250px;
}


.four_support_div
{
    max-width: 800px;
}

.four_support_border
{
    height: 150px;
}

.four_support_info
{
    height: 160px;
}

.four_support_border >img
{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height:150px;
}

.bg{background:url('') no-repeat center fixed;background-size:contain}


.center-vertical {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

.gongsi_info{
    padding-top: 40px;
    padding-bottom: 40px;
}